/node_modules
/public/hot
/public/static
/public/storage
/public/assets
/public/build
/public/vendor/statamic
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/mix-manifest.json